name: Run Python Script

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-script:
    runs-on: ubuntu-latest
    timeout-minutes: 360   # 6 hours

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"   # Change if needed

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Python script
        run: python main.py
        
